<!-- include header -->
<%- include('include/_header') %>
    <link rel="stylesheet" href="/styles/newPost.css">

    <body>
        <div class="containerMain">
            <div class="contentDiv">

                    <form class="form1" action="/posts/<%= id%>?_method=PUT" method="POST">
                        <div class="div3">
                            <label class="label1" for="post">Edit Post</label>
                            <input class="input1" type="text" placeholder="Enter Text Here" name="title"
                                value="<%= post.title %>" />
                        </div>
                        <div class="div5">
                            <label class="label2" for="community">Community</label>
                            <input class="input2" type="text" placeholder="Enter Community" name="community"
                                value="<%= post.community %>" />
                        </div>
                        <div class="div6">
                            <label class="label3" for="body">Image URL</label>
                            <input class="input3" text="text" placeholder="Add an image if you want" name="image"
                                value="<%= post.image %>" />
                        </div>
                        <div class="div7">
                            <label class="label4" for="body">Text Body</label>
                            <textarea class="input4" type="text" placeholder="Enter text body" name="body"
                                value="<%= post.body %>"></textarea>
                        </div>
                        <button class="createButton">Submit Edits</button>
                    </form>

            </div>
        </div>
        <div class="sidebar">
            <div class="topCommunities">
                Top Communities!
                <hr>
                <ol>
                    <li>r/example 1</li>
                    <li>r/example 2</li>
                    <li>r/example 3</li>
                    <li>r/example 4</li>
                    <li>r/example 5</li>
                </ol>
            </div>
        </div>
    </body>


    </html>