<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    
        <% for (let i = 0; i < posts.length; i++){ %>
            <a href="/posts/<%= posts[i]._id %>" class="containerMain">
                <div class="contentDiv">
                    <p class="contentCommunity">
                        r/<%= posts[i].community %>
                        <span class="contentAuthor"> Posted by: (username placeholder) - <%= posts[i].createdAt %></span>
                    </p>
                    
                       
                    <p class="contentTitle"><%= posts[i].title%></p>
                    <img class="contentImage" src="<%= posts[i].image %>">
                    <% if(!posts[i].image) { %>
                        <p class="contentBody">
                            <%= posts[i].body %>
                        </p>
                    <%}%>
                </div>
            </a>  
        <% } %>
        <div class="sidebar">
            <div class="topCommunities"></div>
            <div class="createOrPost"></div>
        </div>
    
</body>
</html>