<!-- include header -->
<%- include('include/_header',{page: 'RenditionReddit' }) %>
    <link rel="stylesheet" href="/styles/comment.css">

    <!-- /include header -->

    <body>
        <%- include('include/_nav') %>
            <div class="containerMain">
                <div class="contentDiv">

                    <div class='voteContainer'>
                        <form action="/posts/<%= posts._id %>/vote/show?_method=PUT" method="POST">
                            <input hidden value="<%= posts.voteTotal + 1 %>" name="voteTotal">
                            <% if(!session.currentUser){ %>
                                <button class='upVote' disabled="true">
                                    <% } else { %>
                                        <button class='upVote'>
                                            <%}%>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="currentColor" class="upVote" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                                                </svg>
                                        </button>
                        </form>
                        <p class="voteTotal">
                            <%= posts.voteTotal %>
                        </p>
                        <form action="/posts/<%= posts._id %>/vote/show?_method=PUT" method="POST">
                            <input hidden value="<%= posts.voteTotal -1 %>" name="voteTotal">
                            <% if(!session.currentUser){ %>
                                <button class='downVote' disabled="true">
                                    <% } else { %>
                                        <button class='downVote'>
                                            <%}%>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="currentColor" class="downVote" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                                </svg>
                                        </button>
                        </form>
                    </div>
                    <p class="contentCommunity">
                        <a href="/posts/community/<%=posts.community%>" class="postCommunity">
                            r/<%= posts.community %>
                        </a>
                            <span class="contentAuthor"> - <%= posts.username %> - <%= posts.createdAt %>
                            </span>
                    </p>

                    <p class="contentTitle">
                        <%= posts.title%>
                    </p>
                    <img class="contentImage" src="<%= posts.image %>">

                    <!-- todo -->
                    <% if (posts.img.data !== undefined){%>
                        <img class="contentImage" src="data:image/<%=posts.img.contentType%>;base64,
                     <%=posts.img.data.toString('base64')%>" width="90%">
                      <% }else{%>
                        <img class="contentImage" src="<%= posts.image %>"width="90%">
                     <% } %>  


                    <p class="contentBody">
                        <%= posts.body %>
                    </p>

                    <form class="commentBox" action="/posts/<%= id%>/comments?_method=PUT" method="POST">
                        <% if(session.currentUser) { %>
                            <div>
                                <input hidden type="text" value="<%= session.currentUser.username %>"
                                    name="username"></input>
                                <input hidden type="text" value="<%= id %>" name="postID"></input>
                                <textarea class="input4" type="text" placeholder="Add comment" name="body"></textarea>
                            </div>
                            <button class="createButton">Comment</button>
                            <%}%>
                                <hr style="width:95%; margin-right:2em">
                    </form>


                    <% for (let i=0; i < comment.length; i++){ %>
                        <% if(comment[i]){ %>
                            <div class="comment">
                                <div class="contentAuthor">
                                    <%= comment[i].username%> - <%= comment[i].createdAt %>
                                </div>
                                <div class="commentBody">
                                    <%= comment[i].body %>
                                </div>
                            </div>
                            <% } %>
                                <%}%>

                </div>
            </div>
            <div class="sidebar">
                <div class="topCommunities">
                    Top Communities!
                    <hr>
                    <ol>

                        <% for(let i = 0; i < uniqueComms.length; i++){ %>
                            <li class="sidebarCommunity"><a href="/posts/community/<%= uniqueComms[i] %>">r/<%= uniqueComms[i].toLowerCase() %></a></li>
                            <% if(i === 4){break} %>
                        <%}%>

                    </ol>
                </div>
                <div class="createOrPost">
                    <p>
                        Feel free to make your own community or select one from the feed and add your own post!
                    </p>
                    <form action="/posts/new">
                        <input type="submit" value="Create Post" class="createButton">
                    </form>
                    <% if(session.currentUser){%>
                        <% if(session.currentUser.username==posts.username) { %>
                            <form action="/posts/<%=id%>/edit">
                                <input type="submit" value="Edit Post" class="editButton">
                            </form>
                            <form action="/posts/<%= id %>?_method=DELETE" method="POST">
                                <input type="submit" class="deleteButton" value="Delete Post">
                            </form>
                            <%}%>
                                <% } %>
                </div>
            </div>

    </body>

    </html>