<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <body>
        <div class="containerMain">
            <div class="contentDiv">
                <p class="contentCommunity">
                    r/<%= posts.community %>
                        <span class="contentAuthor"> Posted by: (username placeholder) - <%= posts.createdAt %></span>
                </p>

                <p class="contentTitle">
                    <%= posts.title%>
                </p>
                <img class="contentImage" src="<%= posts.image %>">

                <p class="contentBody">
                    <%= posts.body %>
                </p>

            </div>
        </div>
        <div class="sidebar">
            <div class="topCommunities">
                Top Communities!
                <hr>
                <ol>
                    <li>r/example 1</li>
                    <li>r/example 2</li>
                    <li>r/example 3</li>
                    <li>r/example 4</li>
                    <li>r/example 5</li>
                </ol>
            </div>
            <div class="createOrPost">
                <p>
                    Feel free to make your own community or select one from the feed and add your own post!
                </p>
                <form action="/posts/new">
                    <input type="submit" value="Create Post" class="createButton">
                </form>
                <form action="/posts/<%=id%>/edit">
                    <input type="submit" value="Edit Post" class="editButton">
                </form>
                <form action="/posts/<%= id %>?_method=DELETE" method="POST">
                    <input type="submit" class="deleteButton" value="Delete Post">
                </form>

            </div>
        </div>
    </body>

    </html>